*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',
    sans-serif;
}

.area{
    width: 80%;
    margin: auto;
}
.logo{
    float: left;
    width: 60%;
    margin-top: auto;
}
.logo h2{
    transform: translate(0px, -70px);
}
.logo img{
    width: 350px;
    height: 250px;
    transform: translate(-38px, 20px);
}
.form{
    width: 40%;
    height: 500px;
    display: flex;
    align-items: center;
}